<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PSMC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PSMC.Properties.Settings>
            <setting name="CustomModelPattern" serializeAs="String">
                <value>-----------------------------------------------------------
---------      CUSTOM MODEL PATTERN     --------------
-----------------------------------------------------------


ITEM.Name = '%MODEL_NAME%'
ITEM.Price = %MODEL_PRICE%
ITEM.Model = '%MODEL_VIRTUAL_PATH%'


function ITEM:OnEquip(ply)
	ply:PS_AddClientsideModel(self.ID)
end

function ITEM:OnHolster(ply)
	ply:PS_RemoveClientsideModel(self.ID)
end

function ITEM:ModifyClientsideModel(ply, model, pos, ang)
	return model, pos, ang
end</value>
            </setting>
            <setting name="hlmv_path" serializeAs="String">
                <value>E:\Games\SteamGames\steamapps\common\Counter-Strike Source\bin\hlmv.exe</value>
            </setting>
        </PSMC.Properties.Settings>
    </userSettings>
</configuration>